<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menuHeader">
      <ion-title class="menuTitle">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="all-prod-list">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="user-profile">
    <ion-row>
      <ion-col width-67 class="user-pic">
        <img src="http://placehold.it/300x200" />
      </ion-col>
      <ion-item class="user-name">
        <div>
          {{firstName}}
        </div>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="user-email">
          <ion-icon name="mail"></ion-icon> &nbsp; &nbsp; {{emailId}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="overall-rating">
        <ion-col size="12">
          <label class="orall-head"> Review & Rating </label>
          <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
        </ion-col><br>
        <ion-col size="12" style="display: inline-flex;">
          <ion-col size="12" style="display: grid; text-align: center;">
            <label class="orall-rat-num">{{averageRating}}</label>
            <div class="rating-star" *ngIf="averageRating ==1">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="rating-star" *ngIf="averageRating ==2">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <div class="rating-star" *ngIf="averageRating ==3">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <div class="rating-star" *ngIf="averageRating =='4'">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <div class="rating-star" *ngIf="averageRating ==5">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <div class="total-rating">({{totaluserRating}})</div>
          </ion-col>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let item of reviewlist" class="indv-review" style="margin:10px;padding-right: 20px;">
        <ion-col size="12">
          <img class="review-user-pic" src="http://www.precision-spine.com/wp-content/uploads/2015/09/person-icon.png" />
          <label class="rated-user">{{item.reviewedBy.firstName}} </label>
          <ion-icon class="more-icon" name="more"></ion-icon>
        </ion-col><br>
        <ion-col size="12">
          <div class="rating-star" *ngIf="item?.rating ==1">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            &nbsp; &nbsp;<span>14/06/2020</span>
          </div>
          <div class="rating-star" *ngIf="item?.rating ==2">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            &nbsp; &nbsp;<span>14/06/2020</span>
          </div>
          <div class="rating-star" *ngIf="item?.rating ==3">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            &nbsp; &nbsp;<span>14/06/2020</span>
          </div>
          <div class="rating-star" *ngIf="item?.rating ==4">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            &nbsp; &nbsp;<span>14/06/2020</span>
          </div>
          <div class="rating-star" *ngIf="item?.rating ==5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            &nbsp; &nbsp;<span>14/06/2020</span>
          </div>
        </ion-col> <br>
        <ion-col size="12" class="rating-desc">
          <span>
            {{item.comments}}
          </span>
          <!-- <span>If the percentage of an operation is known, you should use the determinate type. This is the default
            type and the progress is represented by the value property.
            A buffer shows circles as animation to indicate some activity. If the buffer property is smaller than 1 you
            can show the additional buffering progress.
          </span> -->
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-list class="user-list">
  </ion-list>
</ion-content>