<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="text-center">
            Add Products
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar animated mode="ios" [(ngModel)]="searchQuery" (ionChange)="searchText(searchQuery)"></ion-searchbar>
    <div style="padding:20px;">
        <!-- <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Product Category</ion-label>
            <ion-select [(ngModel)]="selectedCategory" (ionChange)="onSelectCategory();"
                placeholder="Select Product Category">
                <ion-select-option [value]="item" *ngFor="let item of categoryList">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item> -->
        <ion-item class="productItem" >
            <ion-label position="stacked" class="productLabel">Products</ion-label>
            <ion-select [(ngModel)]="selectedProduct" (ionChange)="onSelectProduct();"
                placeholder="Select Products">
                <ion-select-option [value]="item" *ngFor="let item of productList">{{item.name}}</ion-select-option>
            </ion-select>
            <!-- <ionic-selectable item-content [(ngModel)]="selectedProduct" (ngModelChange)="onSelectProduct();"
                itemTextField="productName" [items]="productList" *ngFor="let list of productList" [canSearch]="true" placeholder="Select Products">
                {{item.name}}
            </ionic-selectable> -->
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Images upload</ion-label>
            <input style="margin-top:20px;margin-bottom:10px;" type="file" value="upload" name="filefield"
                multiple="multiple" />
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Available on</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="currentDate"
                (ionChange)="changeProductAvailableDate(currentDate)"></ion-datetime>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Expiry on</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="expiryDate"
                (ionChange)="changeProductAvailableDate(currentDate)"></ion-datetime>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Quantity</ion-label>
            <ion-input [(ngModel)]="quantity"></ion-input>
        </ion-item>

        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Cost per kg</ion-label>
            <ion-input [(ngModel)]="price"></ion-input>
        </ion-item>
        <ion-row style="padding:10px;">
            <ion-button fill="clear" size="large" class="btn-primary" (click)="addProduct()">SAVE</ion-button>
        </ion-row>
    </div>
</ion-content>