/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fff;
}
.menuHeader {
    --background: #f9b612 !important;
}
.menuTitle {
    --color: #fff !important;
    font-weight:700;
}
.menuItem:hover {
    --color: #3453c4;
    font-weight:600;
}
.action-sheet-cancel {
    color: #e51d23 !important;
}
.action-sheet-button.sc-ion-action-sheet-ios{
    color:#3453c4;
}
.cart-modal {
    --height: 80%;
   --border-radius: 10px;
   padding: 10px;
  }

