.rating-modal-header {
    ion-title {
        color: black;
        font-family: sans-serif; 
        font-size: 18px;
    }
}
.rating-modal-body {
    ion-row {
        padding: 15px;
    }
    .btn-primary {
        width: 100%;
    }
    ion-textarea {
        //border: 1px solid gray;
        height: 70px;
    }
    ion-card{
        -webkit-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
        -moz-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
        box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
        background-color: white;

        .card-content-md {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #000000;
        font-family: sans-serif;
        }
    }
    ion-chip {
        margin: 5px;
        background-color: white;
        border: 1px solid #d2d0d0;
        ion-label, a {
            color: #d2d0d0;
        }
    
    }
    .selected {
        background-color:#fc0d0d;
        border: 1px solid #fc0d0d;
        ion-label, a {
            color: white;
            
        }
    }
    .tag-scroll {
        max-height: 155px;
        overflow: scroll;
    }

}

.modal-wrapper { 
    height: 90%;
}